<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysReturnGoodsMapper">

    <resultMap type="SysReturnGoods" id="SysReturnGoodsResult">
        <result property="outboundId"    column="outbound_id"    />
        <result property="goodsId"    column="goods_id"    />
        <result property="count"    column="count"    />
        <result property="priceTotal"    column="price_total"    />
        <result property="price"    column="price"    />
    </resultMap>

    <sql id="selectSysReturnGoodsVo">
        select outbound_id, goods_id, count, price_total, price from sys_return_goods
    </sql>

    <select id="selectSysReturnGoodsList" parameterType="SysReturnGoods" resultMap="SysReturnGoodsResult">
        <include refid="selectSysReturnGoodsVo"/>
        <where>
            <if test="outboundId != null "> and outbound_id = #{outboundId}</if>
            <if test="goodsId != null "> and goods_id = #{goodsId}</if>
            <if test="count != null "> and count = #{count}</if>
            <if test="priceTotal != null "> and price_total = #{priceTotal}</if>
            <if test="price != null "> and price = #{price}</if>
        </where>
    </select>

    <select id="selectSysReturnGoodsByOutboundId" parameterType="Long" resultMap="SysReturnGoodsResult">
        <include refid="selectSysReturnGoodsVo"/>
        where outbound_id = #{outboundId}
    </select>

    <insert id="insertSysReturnGoods" parameterType="SysReturnGoods">
        insert into sys_return_goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="outboundId != null">outbound_id,</if>
            <if test="goodsId != null">goods_id,</if>
            <if test="count != null">count,</if>
            <if test="priceTotal != null">price_total,</if>
            <if test="price != null">price,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="outboundId != null">#{outboundId},</if>
            <if test="goodsId != null">#{goodsId},</if>
            <if test="count != null">#{count},</if>
            <if test="priceTotal != null">#{priceTotal},</if>
            <if test="price != null">#{price},</if>
        </trim>
    </insert>

    <update id="updateSysReturnGoods" parameterType="SysReturnGoods">
        update sys_return_goods
        <trim prefix="SET" suffixOverrides=",">
            <if test="goodsId != null">goods_id = #{goodsId},</if>
            <if test="count != null">count = #{count},</if>
            <if test="priceTotal != null">price_total = #{priceTotal},</if>
            <if test="price != null">price = #{price},</if>
        </trim>
        where outbound_id = #{outboundId}
    </update>

    <delete id="deleteSysReturnGoodsByOutboundId" parameterType="Long">
        delete from sys_return_goods where outbound_id = #{outboundId}
    </delete>

    <delete id="deleteSysReturnGoodsByOutboundIds" parameterType="String">
        delete from sys_return_goods where outbound_id in
        <foreach item="outboundId" collection="array" open="(" separator="," close=")">
            #{outboundId}
        </foreach>
    </delete>

</mapper>